   @media (max-width: 730px) {

      div.api-box {
         display: flex;
         flex-direction: column;
      }

      img.git-graph {
         min-width: 400px;
      }

      img.git-stats {
         padding-top: 8px;
         min-width: 400px;
         height: 100%;
      }

      img.git-usedLang {
         min-width: 250px;
         max-width: 300px;
         padding-top: 15px;
      }

   }

   @media (min-width: 730.5px) {

      div.api-box {
         display: flex;
      }

      img.git-stats {
         min-width: 495px;
         height: 290px;
      }

      img.git-usedLang {
         min-width: 205px;
         height: 290px;
         padding-left: 15px;
      }

      img.git-graph {
         width: 100%;

         min-width: 730px;
      }

   }